/* General Styling */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #2c3e50;
}

header h1 {
    color: whitesmoke;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: url("public/hero-bg.jpg") center/cover no-repeat;
    color: #fff;
}

.hero-content {
    max-width: 600px;
    margin: auto;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 20px;
}

.hero h1, p {
    color: black;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #2980b9;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #1c5985;
}

/* Services Section */
.services {
    padding: 60px 30px;
    text-align: center;
}

.services h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.service-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.service-card {
    background-color: #fff;
    padding: 20px;
    width: 280px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.service-card h3 {
    font-size: 22px;
    margin-top: 15px;
}

.service-card p {
    font-size: 16px;
    color: #555;
}

/* Contact Section */
.contact {
    text-align: center;
    padding: 60px;
    background-color: #3498db;
    color: #fff;
}

.contact h2 {
    font-size: 30px;
}

.contact p {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}
